<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onramp.android.takehome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".services.AlarmReceiver"
            android:enabled="true" />

        <service
            android:name=".services.NotificationService"
            android:enabled="true" />

        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onramp.android.takehome.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AddTaskActivity"
            android:label="@string/title_activity_task"
            android:parentActivityName=".view.MainActivity" />
    </application>

</manifest>